image: endianogino/golang-glide:1.8

stages:
  - build

before_script:
  - mkdir -p /go/src/github.com/mrahbar
  - cp -r /builds/mrahbar/kubernetes-inspector /go/src/github.com/mrahbar
  - cd /go/src/github.com/mrahbar/kubernetes-inspector
  - mkdir builds
  
build-project:
  stage: build
  variables:
    TAG: 1.1.3-SNAPSHOT
    PREFIX: kubernetes-inspector
    BUILD_DATE: 'date -u'
  script:
    - echo " $BUILD_DATE"
    - eval $BUILD_DATE
    - TEST=$(date -u)
    - echo "$TEST"
    - glide install
    - go build -a -installsuffix cgo -ldflags "-w -X main.version=$TAG" -o builds/$PREFIX-$TAG *.go
  artifacts:
    when: on_success
    paths:
    - builds/
    
