image: endianogino/golang-glide:1.8

stages:
  - build

before_script:
  - mkdir -p /go/src/github.com/mrahbar
  - cp -r /builds/mrahbar/kubernetes-inspector /go/src/github.com/mrahbar
  - cd /go/src/github.com/mrahbar/kubernetes-inspector
  - mkdir builds
  
build-project:
  stage: build
  variables:
    TAG: 1.1.3-SNAPSHOT
    PREFIX: kubernetes-inspector
  script:
    - export GOOS=linux
    - export CGO_ENABLED=0
    - BUILD_DATE=$(date -u)
    - glide install
    - go build -a -installsuffix cgo -ldflags "-w -X main.version=$TAG -X 'main.buildDate=$BUILD_DATE'" -o $PREFIX-$TAG *.go
    - ls -lath .
  artifacts:
    when: on_success
    paths:
    - $PREFIX-$TAG
    
