image: endianogino/golang-glide:1.8

stages:
  - build
  - test

before_script:
  - cp -r /builds/mrahbar/kubernetes-inspector /go/src/github.com/mrahbar/kubernetes-inspector
  - cd /go/src/github.com/mrahbar/kubernetes-inspector

build-project:
  stage: build
  script:
    - glide install
    - go build -a -installsuffix cgo -ldflags "-w" -o builds/kubernetes-inspector-1.1.3-SNAPSHOT *.go
